
*.bin
*.elf
*.hex
*.map
*.d
*.lst
*.o
/Headunit/GI_Headunit/build
/Gearunit/SW_Gearunit/CanOpenSTM32
/Headunit/HW_Headunit/Board/HW_Headunit-backups
/Headunit/HW_Headunit/Board/production/backups
/Gearunit/HW_Gearunit/Board/HW_Gearunit-backups
